<!--<h1><%#= @start_time.strftime("%A, %B %d %Y %I:%M %p %Z") %></h1>-->

<div class="container">
  <div class="row">
    <div class="col">
      <%= calendar(number_of_days: 1, events: @tasks) do |date, tasks| %>
        <% time = @day_start_time %>
        <% while time < @day_end_time do%>
          <div class="row">
            <div class="col-2">
              <%=time.strftime("%I:%M %p")%>
            </div>
            <div class="col" action="/tasks/create">
              <% matching_tasks = @tasks.where("start_time >= ?", time)%>
              <% matching_tasks.each do |task|%>
                <button type="button" class="btn btn-light btn-task">
                  <%= task.name %>
                  <input type="checkbox">
                </button>
              <% end %>
            </div>
          </div>
          <hr style="margin-top: 0.2rem; margin-bottom: 0.2rem;">
          <% time += 30.minutes%>
        <% end %>
      <% end %>
    </div>

    <div class="col">
      <div>
        <h1><%= ((@day_end_time - @start_time) / 1.hour).round(1) %></h1>
        <p>Hours until end of day</p>
      </div>

      <div>
        <h3>To-do list</h2>

      </div>

      <div>
        <h3>Journal Entry</h2>
        <form action="/update_journal">
          <label for="feeling_level1">I'm feeling</label>
          <select name="feeling_level1" id="feeling_level1">
            <% FeelingsLevel1.all.each do |feeling_level1|%>
              <option value="<%= feeling_level1.id %>">feeling_level1.name</option>
            <% end %>
          </select>

          <div>
            <h5><label for="note">Some notes for today</label></h5>
          </div>

          <div>
            <textarea name="note" id="note" class="form-control" rows="5"></textarea>
          </div>

          <button type="button" class="btn btn-primary">Save entry</button>
        </form>
      </div>
    </div>
  </div>

</div>
