<div>
  <div>
    <h1>
      List of all goals
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new goal
    </h2>

    <form action="/insert_goal" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="datetime-local" id="start_date_box" name="query_start_date">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="datetime-local" id="end_date_box" name="query_end_date">
      </div>

      <button>
        Create goal
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Category
        </th>

        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_goals.each do |a_goal| %>
      <tr>
        <td>
          <%= a_goal.id %>
        </td>

        <td>
          <%= a_goal.name %>
        </td>

        <td>
          <%= a_goal.category_id %>
        </td>

        <td>
          <%= a_goal.start_date %>
        </td>

        <td>
          <%= a_goal.end_date %>
        </td>

        <td>
          <%= time_ago_in_words(a_goal.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_goal.updated_at) %> ago
        </td>

        <td>
          <a href="/goals/<%= a_goal.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
