<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" style="color: black" href="#">Day Planner</a>
        <% if current_user != nil%>
          <a class="nav-item-active nav-link" style="color: black" href="#">Today<span class="sr-only">(current)</span></a>
          <a class="nav-item-active nav-link" style="color: black" href="#">This Week</a>
          <a class="nav-item-active nav-link" style="color: black" href="#">Journals</a>
        <% else %>
          <a class="nav-item-active nav-link" style="color: black" href="/users/sign_in">Sign in</a>
          <a class="nav-item-active nav-link" style="color: black" href="/users/sign_up">Sign up</a>
        <% end %>
    </nav>

    <% if notice.present? %>
      <div> style="color:green" 
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
